{% load static from static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'register.css'%}">
</head>

<body>

    <main>
        <div class="box">
            
            <form action="{% url 'register' %}" method="POST" class="site_register">
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor%}
                {% csrf_token %}
                    <input type="text" id="Username" placeholder="Username" name="username">
                    <br>
                    <input type="email" id="email" placeholder="email" name="email">
                    <br>
                    <input type="password" id="password" placeholder="password"  name="password1">
                    <br>
                    <input type="password" id="confirm password" placeholder="Confirm Password" name="password2">
                    <br>
                    <input type="submit">

            </form>
        </div>
    </main>

</body>

</html>